@font-face {
  font-family: Panton;
  src: url("./assets/fonts/PantonDemo-Black.otf") format("opentype");
}

@font-face {
  font-family: Panton;
  font-weight: bold;
  src: url("./assets/fonts/PantonDemo-Black.otf") format("opentype");
}